

.header-nav{
    word-spacing: 15px;
    font-weight: bold;
    font-family:  Arial, sans-serif;
    float: right;
    margin-top: 20px;
}

.header--nav{
    font-size: 16px;
}

nav ul li{
    display: inline-block;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 100px;
}

.File{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 7%;
}

.userActivity{
    display: flex;
    flex-direction: column;
}

.eachActivity{
    padding-bottom: 10px;
    margin-left: 15%;
    margin-top: 20px;
}

.counter{
    background-color: rgba(27, 31, 38, .08);
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #586069;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 10px 10px;
}
.profile{
    float: right;
    margin-right: 15%;
    margin-top: -50%;
}

.profile input{
    width: 450px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.submit{
    font-family: "Roboto", sans-serif;
    background: #4caf50;
    width: 70px;;
    border-radius: 5px;
    padding: 10px;
    color: #ffff;
    cursor: pointer; 
}

.update{
    font-family: "Roboto", sans-serif;
    width: 70px;;
    border-radius: 5px;
    padding: 10px;
    color: #ffff;
    cursor: pointer;
    color: black; 
}